<% include ./partials/header %>

<div class="ui main text container segment">
	
	<div class="ui card">
  <div class="image">
    <img src="<%= blog.image %>">
  </div>
  <div class="content">
    <a class="header"><%= blog.title %></a>
    <div class="meta">
      <span class="date"><%= blog.created %></span>
    </div>
    <div class="description">
      <%= blog.body %>
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      22 Doggo Friends
    </a>
  </div>
</div>
	
	<div class="ui huge header">
		 Edit <%= blog.title %>
	</div>
	<form class ="ui form" action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
		<div class="field">
			<label>Title</label>
			<input type="text" name="blog[title]" value="<%= blog.title %> ">
		</div>
		<div class="field">
			<label>Image</label>
			<input type="text" name="blog[image]" value="<%= blog.image %> ">
		</div>
		<div class="field">
			<label>Body</label>
			<textarea name="blog[body]"><%= blog.body %></textarea>
		</div>
		<input type="submit" class="ui grey big basic button">
		
	</form>
	
</div>




<% include ./partials/footer %>